@charset "UTF-8";
@font-face {
  font-family: 'idroid';
  src:url('fontes/idroid.otf') format('opentype');
  font-style: normal;
  font-weight: normal;


}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



/* Paleta com Variáveis*/
:root{
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;

  --fonte-padrao:Arial, Helvetica, sans-serif;
  --fonte-destaque:'Bebas Neue', cursive;
  --fonte-android:'idroid', Times, sans-serif;
}

/* Configurações Globais*/
*{
  margin: 0px;
  padding: 0px;
}

body{
  margin: 0px;
  font-family: var(--fonte-padrao);
  background-color: var(--cor0);
}

a.externo::after{
  content: '\00A0\1F517';
}


header{
  background-image: linear-gradient(to bottom,var(--cor3), var(--cor5));
  margin: 0px;
  border: 0px;
  padding-top: 20px;

  font-family: var(--fonte-destaque);
  color: white;
  text-align: center;


}

header > h1{
  font-family: var(--fonte-destaque);
  font-size: 3em;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.67);
  font-weight: normal;
}


header > p{
  height: 0px;
  max-width: 500px;
  margin: auto;
  padding: 0px 20px 10px 20px;

  font-size: 1.2em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.67);
}

nav{
  background-color: var(--cor5);
  margin-top: 90px;
  text-align: left;
  box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.7);
}

nav > a{
  text-decoration: none;
  font-weight: bold;
  color: white;

  margin: 10px;
  padding-right: 10px;
  padding-left: 10px;

  transition-duration: 0.3s;

}

nav > a:hover{
  background-color: var(--cor2);
  color: var(--cor4);
}

nav > a:active{
  background-color: rgb(150, 208, 179);
}



main h2{
  font-family:var(--fonte-android);
  color: var(--cor4);
  font-weight: normal;

  margin: 20px 20px auto;
  text-align: left;
  text-decoration: none;
}

main > h3{
  font-family: var(--fonte-android);
  background-image: linear-gradient(to right,var(--cor1), transparent);
  color: var(--cor4);
  font-weight: normal;

  margin: 20px 20px auto;
  text-indent: 10px;
  text-align: left;
  text-decoration: none;
}


main{
  background-color: white;
  min-width: 400px;
  max-width: 900px;
  height: auto;

  margin: 0px auto;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.66);

  text-align: left;
}

img{
  width: 100%;
}


main  p{
  margin: 15px 0px;
  padding-bottom: 20px;
  text-indent: 20px;
  text-align: justify;
  font-size: 1em;
  line-height: 2em;
}

main strong{
  color: var(--cor4);
  font-weight: bold;

}

main a{
  text-decoration: none;
  font-weight: bold;
  color: var(--cor5);
  background-color: var(--cor1);
  padding: 1px 3px;

}

main a:hover{
  text-decoration: line-through;
  color: var(--cor4);
}

div.video{
  background-color: var(--cor4);
  padding: 20px;
  padding-bottom: 56.5%;
  margin: 0px -20px 30px -20px;

  position: relative;
}

div.video > iframe{
  position: absolute;
  top:2.5%;
  left:2.5%;
  width: 95%;
  height: 95%;
}


aside{
  margin: 10px 0px ;
  padding: 10px;
  border-radius: 10px;
  background-color:rgb(197, 235, 214);

  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.62);
}

aside > ul{
  list-style-type: '\2714\00A0\00A0';
  list-style-position: inside;
  columns: 2;
}

main > aside > h3{
  font-family: sans-serif;
  color: white;

  background-color: var(--cor4);

  padding: 10px;
  margin: -10px -10px 0px -10px;
  border-radius: 5px 5px 0px 0px;
  text-indent: 10px;
  text-align: left;
  text-decoration: none;

}

picture{
  width: 100%;
  padding: 0px;
  border: 0px;

}

main > img#pequeno{
  max-width: 350px;
  display: block;
  margin: auto;

}



footer{
  background-color: rgb(26, 92, 56);
  padding: 10px;
  margin-top: 10px;
}

footer > p{
  text-align: center;
  color: white;
  font-size: 0.8em;

}
footer > p > a{
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
footer > p > a:hover{
  text-decoration: line-through;
  color: var(--cor2);
}
